<div class="section">
  <div class="container notification is-info is-light">
    <p>PRH company management portal</p>
  </div>
</div>

<div class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column box has-background-info-light">
        <p class="subtitle">Registered Companies</p>
        <app-company-list></app-company-list>
      </div>
      <div class="column box has-background-info-light ml-5 mr-5">
        <p class="subtitle">Users</p>
        <app-user-list></app-user-list>
      </div>
      <div class="column box has-background-info-light">
        <p class="subtitle">Create new company</p>
        <app-company-creation-form></app-company-creation-form>
      </div>
    </div>
  </div>
</div>
